body {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}
#mainContainer {
   border: black solid 1px;
   border-radius: 5px;
   padding: 20px;
}